.mark {
    text-align: right;
    padding: 5px;
}

.btn {
    background-color: #2d6de4;
    border: none;
    color: white;
    padding: 5px 12px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
  }